
header {
  text-align: center;
}
nav {
  padding-left: 10px;
  padding-right: 10px;
  background-color: antiquewhite;
  text-align: center;
}
figcaption {
  font-size: 15px;
  text-align: center;
  font-style: italic;
}
section#featured-property figure img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

html body section#featured-property p {
  padding-top: 10px ;
  padding-bottom: 10px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

section#details div {
  float: left;
  background-color: rgba(153, 138, 115, 0.3);
  width: 25%;
  text-align: center;
}